{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <i class="fas fa-box-open auth-icon"></i>
            <h2>
                {% if item %}
                {% trans "Modifier l'article" %}
                {% else %}
                {% trans "Ajouter un article" %}
                {% endif %}
            </h2>
        </div>

        <form method="post" class="auth-form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    <i class="fas fa-{% if field.name == 'name' %}box{% elif field.name == 'description' %}align-left{% elif field.name == 'stock_quantity' %}cubes{% elif field.name == 'category' %}tag{% elif field.name == 'replacement_value' %}euro-sign{% else %}money-bill-wave{% endif %}"></i>
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.help_text %}
                <div class="form-help-text">
                    <i class="fas fa-info-circle"></i> {{ field.help_text }}
                </div>
                {% endif %}
                {% if field.errors %}
                <ul class="errorlist">
                    {% for error in field.errors %}
                    <li><i class="fas fa-exclamation-triangle"></i> {{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="auth-button">
                <i class="fas fa-save"></i>
                {% if item %}
                {% trans "Enregistrer les modifications" %}
                {% else %}
                {% trans "Créer l'article" %}
                {% endif %}
            </button>
        </form>

        <div style="margin-top: 20px;"></div>
        <a href="{% url 'ui:stock' %}" class="auth-button"><i class="fas fa-arrow-left"></i>
            {% trans "Retour à la liste des articles" %}</a>

    </div>
</div>
{% endblock %}